body{
	font-family: 'Open Sans', sans-serif;
}
.font-ct, h1, h2, h3, 
.des_deal,
.item-time-w,
.item-time-w .name-time,
.static-menu a.main-menu, 
.container-megamenu.vertical .vertical-wrapper ul li > a strong, 
.container-megamenu.vertical .vertical-wrapper ul.megamenu li .sub-menu .content .static-menu .menu ul li a.main-menu, 
.horizontal ul.megamenu > li > a, .footertitle, 
.module h3.modtitle span, .breadcrumb li a, .item-title a, 
.best-seller-custom .item-info, .product-box-desc, .product_page_price .price-new, 
.list-group-item a, #menu ul.nav > li > a, .megamenuToogle-pattern, 
.right-block .caption h4, .price, .box-price {
	font-family: 'Open Sans', sans-serif;
}
.typeheader-5 .megamenu-style-dev .horizontal ul.megamenu > li > a:hover {
	opacity: 0.8;
}
li.ln-welcome, .typeheader-5 .header-top .header-top-right ul.top-link > li {
	font-weight: 600;
	color: #575757;
	font-size: 13px;
}
.typeheader-5 .header-top .header-top-right ul.top-link > li.account > a:before {
	content: "\f02d";
}
.typeheader-5 .header-top .header-top-right ul.top-link > li > a {
	font-size: 13px;
}
.account .dropdown-menu > li > a {
	font-weight: 600;
	color: #575757;
	font-size: 13px;
}
footer .footer-bottom .copyright a {
	color: #fff;
	font-weight: 600;
	color: #ff0000;
}
.account .dropdown-menu > li > a:hover, footer .footer-bottom .copyright a:hover {
	opacity: 0.8;
}
footer .footer-bottom .copyright {
	margin-bottom: 0;
}
footer .footer-center .module ul.links-footer li a, footer .footer-center .module ul.menu li a, footer .footer-center .footer-contact ul > li.email, footer .footer-center .footer-contact ul > li span {
	font-size: 14px;
}
footer .footer-center .footer-contact ul > li {
	line-height: 30px;
    margin-top: 15px;
	font-size: 14px;
}
footer .footer-center .footer-contact ul > li.company-name {
	font-weight: 600;
}
footer .footer-center .footer-contact ul > li a:hover {
	color: #fff;
	opacity: 0.8;
}
.label-new {
	font-size: 0.7rem;
	background-color: #e4262d;
}
#content {
	margin-bottom: 20px;
}
footer.typefooter-5 .footer-center {
	margin-top: 0px !important;
}
.blog-listitem .blog-item .blog-item-inner .article-image .article-date .date b {
	font-size: 14pt;
}
.blog-header h1 {
	font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 5px;
    font-size: 16px;
    font-size: 2rem;
    color: #7d7d7d;
}
ul.breadcrumb {
	margin: 10px 0;
}
.filters-panel {
	margin-bottom: 0px;
}