<div class="header-center">
    <div class="container">
        <div class="row">
            <!-- Logo -->
            <div class="navbar-logo col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="logo">
                    <%= link_to image_tag('/longnhien/image/catalog/logo5.png', alt: 'Bồn Nước Long Nhiên - Quay lại trang chủ.', title: 'Bồn Nước Long Nhiên - Quay lại trang chủ.'),
                                erp_bonnuoclongnhien.root_path,
                                title: 'Bồn Nước Long Nhiên - Quay lại trang chủ.' %>
                </div>
            </div>
            <!-- /Logo -->

            <!-- Main menu -->
            <div class="header-center-right col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <!-- Search -->
                <div class="header_search">
                    <div id="sosearchpro" class="sosearchpro-wrapper so-search">
                        <form method="GET" action="index.php">
                            <div id="search0" class="search input-group form-group">
                                <div class="select_category filter_type  icon-select">
                                    <select class="no-border" name="category_id">
                                    <option value="0">All Categories</option>
                                    <option value="78">Apparel</option>
                                    <option value="77">Cables &amp; Connectors</option>
                                    <option value="82">Cameras &amp; Photo</option>
                                    <option value="80">Flashlights &amp; Lamps</option>
                                    <option value="81">Mobile Accessories</option>
                                    <option value="79">Video Games</option>
                                    <option value="20">Jewelry &amp; Watches</option>
                                    <option value="76">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Earings</option>
                                    <option value="26">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wedding Rings</option>
                                    <option value="27">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Men Watches</option>
                                </select>
                                </div>
                                <input class="autosearch-input form-control" type="text" value="" size="50" autocomplete="off" placeholder="Search" name="search">
                                <ul class="dropdown-menu" style="display: none;"></ul>
                                <span class="input-group-btn">
                                <button type="submit" class="button-search btn btn-default btn-lg" name="submit_search"><i class="fa fa-search"></i></button>
                            </span>
                            </div>
                            <input type="hidden" name="route" value="product/search">
                        </form>
                    </div>
                </div>
                <div class="phone-header pull-right">
                    <div class="telephone hidden-xs">
                        <div class="contact-us">
                            <span class="text">Tư vấn viên: </span>
                            <span class="phone"><%= link_to '(028) 6271 8845', 'tel:(028) 6271 8845', title: '' %></span><br>
                            <span class="text">Email: </span><%= mail_to 'phongvt@ptplastics.com.vn', 'phongvt@ptplastics.com.vn', title: '' %>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Main menu -->
        </div>
    </div>
</div>