<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="top-left">
                <ul>
                    <li>
                        <div class="info">
                            Giảm Giá 3% Khi Sử Dụng
                            <span class="coupon"> <i class="fa fa-gift"></i> Mã Giảm Giá: <strong>HOANGKHANG</strong></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-6">
            <div class="top-right-link right-side">
                <ul>
                    <li class="info-link login-icon content">
                        <%= mail_to 'phongvt@ptplastics.com.vn', '<i class="fa fa-envelope"></i> phongvt@ptplastics.com.vn'.html_safe, title: '' %>
                    </li>
                    <li class="info-link checkout-icon">
                        <%= link_to '<i class="fa fa-phone"></i> (028) 6271 8845'.html_safe, 'tel:(028) 6271 8845', title: '' %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>