<!-- BreadCrumb Start -->
<div class="banner inner-banner1 ">
    <div class="container">
        <section class="banner-detail center-xs">
            <h1 class="banner-title">Giới Thiệu</h1>
            <div class="bread-crumb right-side float-none-xs">
                <ul>
                    <li><%= link_to 'Trang Chủ', erp_bonnuoclongnhien.root_path, title: '' %><i class="fa fa-angle-right"></i></li>
                    <li><span>Giới Thiệu</span></li>
                </ul>
            </div>
        </section>
    </div>
</div>
<!-- BreadCrumb End -->

<section class="">
    <div class="our_story gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="story_detail_part ">
                        <div class="heading-part align-center mb-10">
                            <h2 class="main_title heading"><span>CÔNG TY TNHH SẢN XUẤT THƯƠNG MẠI DỊCH VỤ PHƯƠNG TÙNG</span></h2>
                        </div>
                        <div class="text-justify">
                            <p><strong>Cảm Ơn Quý Khách</strong> đã tin dùng và ủng hộ sản phẩm Bồn Nước thương hiệu Long Nhiên của công ty chúng tôi trong suốt thời gian qua. Nhằm đáp ứng nhu cầu sử dụng ngày càng cao của Quý khách hàng và đa dạng hóa về sản phẩm. Công ty chúng tôi nhận đặt hàng theo nhu cầu của Quý khách (về mẫu mã, kích thước, dung tích, độ dày, màu sắc).</p>
                            <p>Bồn nước của chúng tôi được làm từ công nghệ và máy móc hiện đại của Hàn Quốc. Nguyên liệu chính là nhựa PE nguyên sinh được nhập từ các nước như: Hàn Quốc, Singapore, Ả Rập, ...</p>
                            <p>Đặc biệt, sản phẩm của chúng tôi hoàn toàn không sử dụng nhựa tái sinh, chính vì thế bồn nước của chúng tôi hoàn toàn không độc hại, không mùi vị, đảm bảo vệ sinh an toàn cho người sử dụng.</p>
                            <p>Công ty TNHH Sản Xuất Thương Mại Dịch Vụ Phương Tùng chuyên sản xuất các loại bồn chứa nước cao cấp (hiệu Long Nhiên) có dung tích từ 200 lít đến 10.000 lít. Nhiều kiểu dáng, đủ mọi kích thước, độ bền và sức chịu đựng cao. Với đội ngũ nhân viên lành nghề, nhiều năm kinh nghiệm trong lĩnh vực bồn nước. Thiết bị máy móc hiện đại, luôn tạo ra các sản phẩm chất lượng hoàn hảo cũng như chế độ bảo hành và hậu mãi chu đáo.</p>
                        </div>
                    </div>
                </div>                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <%= image_tag '/phuongtung/images/kiem-dinh-chat-luong-01.jpg', alt: '', class: 'img-about-us' %>
                </div>
                <div class="col-md-6">
                    <%= image_tag '/phuongtung/images/kiem-dinh-chat-luong-02.jpg', alt: '', class: 'img-about-us' %>
                </div>
            </div>
        </div>
    </div>
</section>