<!-- BreadCrumb Start -->
<div class="banner inner-banner1 ">
    <div class="container">
        <section class="banner-detail center-xs">
            <h1 class="banner-title">Hướng Dẫn Mua Hàng</h1>
            <div class="bread-crumb right-side float-none-xs">
                <ul>
                    <li><%= link_to 'Trang Chủ', erp_bonnuoclongnhien.root_path, title: '' %><i class="fa fa-angle-right"></i></li>
                    <li><span>Hướng Dẫn Mua Hàng</span></li>
                </ul>
            </div>
        </section>
    </div>
</div>
<!-- BreadCrumb End -->
<section class="pt-20">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="blog-detail text-justify">
                    <div class="blog-title">
                        <h2 class="heading-term">Hướng Dẫn Mua Hàng</h2>
                    </div>
                    <p>Nội dung bài viết đang được cập nhật.....</p>
                </div>
            </div>         
        </div>
    </div>
</section>