<div class="footer-bottom ">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 copyright text-center">
                Bản quyền &copy; 2017 - 2018 <%= link_to 'BonNuocLongNhien.Com', erp_bonnuoclongnhien.root_path, title: 'BonNuocLongNhien.Com' %>. Đơn vị chủ quản: <strong>Công Ty TNHH Sản Xuất Thương Mại Dịch Vụ Phương Tùng</strong>.<br> All Rights Reserved. Designed by <%= link_to 'Hoang Khang Incotech', 'http://hoangkhang.com.vn', title: 'Hoang Khang Incotech', target: '_blank' %>
            </div>
        </div>
    </div>
</div>