<% if params[:controller] == "erp/bonnuoclongnhien/frontend/home" && params[:action] == "index" %>
    <div class="footer-top">
        <div class="module">
            <div class="about-footer">
                <div class="logo">
                    <img src="/longnhien/image/catalog/logo-index5.png" alt="Image Client">
                </div>
                <div class="social_wrapper">
                    <div class="text-block">Các sản phẩm Bồn nước hiệu Long Nhiên đã đạt được Chứng nhận chất lượng hàng hóa do Trung tâm tiêu chuẩn đo lường chất lượng III cấp ngày 12/04/2004...<br> Đồng thời đạt Thương Hiệu Vàng, Cúp Vàng & Huy Chương Vàng tại Hội Chợ VIETBUILD 2005.</div>
                    <div class="socials-footer">
                        <h3 class="font-ct">follow us</h3>
                        <ul>
                            <li class="face"><a href="" title="Face Book"><span class="fa fa-facebook"></span></a></li>
                            <li class="twitter"><a href="" title="Twitter"><span class="fa fa-twitter"></span></a></li>
                            <li class="pinterest"><a href="" title="pinterest"><span class="fa fa-pinterest"></span></a></li>
                            <li class="instagram"><a href="" title="Instagram"><span class="fa fa-instagram"></span></a></li>
                            <li class="google"><a href="" title="Google Plus"><span class="fa fa-google-plus"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% else %>
    <section class="footer-top">
        <div class="container ftop">
            <div class="module footer-services ">
                <div class="block-infos">
                    <div class="info info1">
                        <div class="inner">
                            <i class="fa fa-truck"></i>
                            <div class="info-cont">
                                <span class="font-ct">free delivery</span>
                                <p>From 275 AED</p>
                            </div>
                        </div>
                    </div>
                    <div class="info info2">
                        <div class="inner">
                            <i class="fa fa-money"></i>
                            <div class="info-cont">
                                <span class="font-ct">cash delivery</span>
                                <p>From 275 AED</p>
                            </div>
                        </div>
                    </div>
                    <div class="info info3">
                        <div class="inner">
                            <i class="fa fa-gift"></i>
                            <div class="info-cont">
                                <span class="font-ct">free gift box</span>
                                <p>&amp; gift note</p>
                            </div>
                        </div>
                    </div>
                    <div class="info info4">
                        <div class="inner">
                            <i class="fa fa-phone-square"></i>
                            <div class="info-cont">
                                <span class="font-ct">contact us</span>
                                <p>123 456 789</p>
                            </div>
                        </div>
                    </div>
                    <div class="info info5">
                        <div class="inner">
                            <i class="fa fa-diamond"></i>
                            <div class="info-cont">
                                <span class="font-ct">Loyalty</span>
                                <p>Rewarded</p>
                            </div>
                        </div>
                    </div>
                </div>                                            
            </div>
        </div>
    </section>
<% end %>