<header class="navbar navbar-custom container-full-sm" id="header">
    <div class="header-top">
        <%= render 'erp/bonnuoclongnhien/frontend/modules/header/top' %>
    </div>
    <div class="header-middle">
        <%= render 'erp/bonnuoclongnhien/frontend/modules/header/middle' %>
    </div>
</header>